* {
	background-color: aqua;
}
h2 {
	color: darkcyan;
	text-align: center;
}
p {
	color: darkblue;
	text-align: center;
}
#input_div {
	text-align: center;
	/*border: 2px solid black;*/
}
#message_div {
	text-align: center;
	padding-top: 2em;
	font-size: 5em;
}